.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh;
  background: url('/assets/images/background_login.png') no-repeat center center;
  background-size: 750px;
  padding: 20px;

  .reset-password-content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    //margin-right: 0%;
  }

  .reset-password-form {
    width: 70%;
    margin: 0 auto;

    .text-center {
      text-align: center;
      margin-bottom: 20px;

      .auth-logo img {
        max-height: 100px;
      }

      h5 {
        color: #000000;
      }

      p {
        color: #000000;
      }
    }

    .auth-form {
      .alert {
        margin-bottom: 20px;
      }

      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #000000;
          border-radius: 4px;
        }
      }

      .btn {
        margin-top: 10px;
      }
    }

    .text-center {
      margin-top: 20px;

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

