<!-- START FOOTER -->
<section class="section" id="footer">
<footer class="footer-bg mt-5 pt-5 section">
  <div class="container">
    <div class="row">
      <!-- Support Section -->
      <div class="col-md-4">
        <h6>Hỗ trợ</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Trung tâm hỗ trợ</a></li>
          <li><a href="#" class="footer-link">Lập | Help</a></li>
          <li><a href="#" class="footer-link">Hỗ trợ người khuyết tật</a></li>
          <li><a href="#" class="footer-link">Tùy chọn hủy</a></li>
          <li><a href="#" class="footer-link">Phản hồi của chúng tôi về COVID-19</a></li>
        </ul>
      </div>
      <!-- Community Section -->
      <div class="col-md-4">
        <h6>Cộng đồng</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Trải nghiệm tốt</a></li>
        </ul>
      </div>
      <!-- Contact Section -->
      <div class="col-md-4">
        <h6>Liên hệ</h6>
        <ul class="list-inline social-list">
          <li class="list-inline-item"><a href="#" class="footer-link"><i class="mdi mdi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" class="footer-link"><i class="mdi mdi-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#" class="footer-link"><i class="mdi mdi-twitter"></i></a></li>
  <!--          <li class="list-inline-item"><a href="#" class="footer-link"><i class="mdi mdi-zalo"></i></a></li>-->
        </ul>
      </div>
    </div>
  </div>

</footer>
<!-- END FOOTER -->
<div class="footer-bottom">
  <div class="d-flex text-left  flex-wrap">
    <a href="#" class="footer-link">© 2024 Lập</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="#" class="footer-link">Hỗ trợ</a>
    <span>&nbsp;-&nbsp;</span>
    <a href="#" class="footer-link">Điều kiện</a>
    <span>&nbsp;-&nbsp;</span>
    <a href="#" class="footer-link">Sơ đồ trang web</a>
    <span>&nbsp;-&nbsp;</span>
    <a href="#" class="footer-link">Sự riêng tư</a>
    <span>&nbsp;-&nbsp;</span>
    <a href="#" class="footer-link">Lựa chọn về quyền riêng tư của bạn</a>
    <span>&nbsp;-&nbsp;</span>
    <a href="#" class="footer-link">Điểm đến</a>


    <div class="col-md-6">
      <div class="text-right form-bottom-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="footer-link">Tiếng việt</a></li>
          <li class="list-inline-item"><a href="#" class="footer-link">Xin chào</a></li>
          <li class="list-inline-item"><a href="#" class="footer-link">Hỗ trợ và tài nguyên</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
