<div class="header header-dark bg-danger pb-6 content__title content__title--calendar">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6">
                    <h6 class="fullcalendar-title h2 text-white d-inline-block mb-0">
                        Toàn bộ bình luận
                    </h6>
                    <nav aria-label="breadcrumb" class="d-none d-lg-inline-block ml-lg-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-comments"></i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> Bình luận </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Toàn bộ bình luận
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="dataTables_wrapper py-4">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="hotelSelect">Chọn khách sạn</label>
                                    <select id="hotelSelect" class="form-control" (change)="onHotelChange($event)">
                                        <option value="">Chọn tên khách sạn</option>
                                        <option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label>
                                            Hiển thị
                                            <select name="datatable_length" aria-controls="datatable"
                                                class="form-control form-control-sm" (change)="entriesChange($event)">
                                                <option value="10" [selected]="entries == 10">10</option>
                                                <option value="25" [selected]="entries == 25">25</option>
                                                <option value="50" [selected]="entries == 50">50</option>
                                                <option value="-1" [selected]="entries == -1">Tất cả</option>
                                            </select>
                                            bản ghi
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="datatable_filter" class="dataTables_filter">
                                        <label>
                                            <input type="search" class="form-control form-control-sm"
                                                placeholder="Tìm kiếm bản ghi" aria-controls="datatable"
                                                (keyup)="filterTable($event)" />
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'"
                                [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'"
                                [limit]="entries != -1 ? entries : undefined" [scrollbarH]="true" [rows]="temp"
                                (activate)="onActivate($event)">
                                <ngx-datatable-column name="ID" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{ row.Id }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Bình luận" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{ row.CommentText }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Ngày tạo" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{ row.CreatedAt | date: 'short' }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Tên người dùng" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{ row.userName || 'Người dùng không rõ' }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Hình ảnh" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <img *ngIf="row.Image" [src]="row.Image" alt="Hình ảnh bình luận" width="50">
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Bình luận con" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class="btn btn-sm btn-primary"
                                            (click)="toggleChildComments(row.Id)">Hiển thị bình luận con ({{
                                            row.ChildComments.length }})</button>
                                        <div *ngIf="expandedComments[row.Id]">
                                            <div *ngFor="let child of row.ChildComments" class="child-comment">
                                                <strong>{{ child.userName }}</strong>: {{ child.CommentText }}
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Trạng thái" [sortable]="true">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{ row.Status }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Chức năng">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button *ngIf="row.Status !== 'Ẩn'" class="btn btn-sm btn-danger"
                                            (click)="confirmDeleteComment(row.Id)">Ẩn</button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>