
<!--<section class="section-two bg-light" id="client">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-lg-12">-->
<!--        <form class="card p-4 shadow rounded">-->
<!--          <h4 class="mb-3">Book Now !</h4>-->
<!--          <div class="row text-start">-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--              <div class="mb-3 mb-lg-0">-->
<!--                <label class="form-label"> Check in : </label>-->
<!--                <input name="date" type="text" class="form-control start" placeholder="Select date :">-->
<!--              </div>-->
<!--            </div>&lt;!&ndash;end col&ndash;&gt;-->


<!--            <div class="col-lg-3 col-md-6">-->
<!--              <div class="mb-3 mb-lg-0">-->
<!--                <label class="form-label"> Check out : </label>-->
<!--                <input name="date" type="text" class="form-control end" placeholder="Select date :">-->
<!--              </div>-->
<!--            </div>&lt;!&ndash;end col&ndash;&gt;-->

<!--            <div class="col-lg-6">-->
<!--              <div class="row align-items-center">-->
<!--                <div class="col-md-4">-->
<!--                  <div class="mb-3 mb-lg-0">-->
<!--                    <label class="form-label">Adults : </label>-->
<!--                    <input type="number" min="0" autocomplete="off" id="adult" required="" class="form-control" placeholder="Adults :">-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash;end col&ndash;&gt;-->

<!--                <div class="col-md-4">-->
<!--                  <div class="mb-3 mb-lg-0">-->
<!--                    <label class="form-label">Children : </label>-->
<!--                    <input type="number" min="0" autocomplete="off" id="children" class="form-control" placeholder="Children :">-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash;end col&ndash;&gt;-->

<!--                <div class="col-md-4 mt-lg-4 pt-2 pt-lg-1">-->
<!--                  <div class="d-grid">-->
<!--&lt;!&ndash;                    <input type="submit" id="search" name="search" class="searchbtn btn btn-primary" value="Search"   (keyup)="filtersTable($event)">&ndash;&gt;-->
<!--                    <label>-->
<!--                      <input type="search" class="form-control form-control-sm"-->
<!--                             placeholder="Search records" aria-controls="datatable"-->
<!--                              />-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>&lt;!&ndash;end col&ndash;&gt;-->
<!--    </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--  </div>&lt;!&ndash;end container&ndash;&gt;-->
<!--</section>&lt;!&ndash;end section&ndash;&gt;-->
<!--&lt;!&ndash; Partners End &ndash;&gt;-->
