.hotel-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hotel-card h3 {
  margin-top: 0;
  color: #333;
}

.hotel-card p {
  margin: 8px 0;
  color: #666;
}

.btn-wishlist-done {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-wishlist-done:hover {
  background-color: rgb(149, 14, 14);
}

.wishlist-done {
  color: #151515;
  margin-right: 8px;
  background-color: rgb(214, 191, 47);
  padding: 4px;
  border-radius: 50%;
}
.wishlist{
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),0 2px 6px 2px rgba(60,64,67,.15);
  background-color: #f8f9fa;
}
.content-wrap {
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),0 2px 6px 2px rgba(60,64,67,.15);
  margin-top: 15px;
  padding: 10px
}
